/* alternative styles */
#displaytag table.its thead tr {
	background-color: #69c;
}

#displaytag table.its tr.even {
	background-color: #def;
}

#displaytag table.mars thead tr {
	background-color: #9c9;
}

#displaytag table.mars tr.even {
	background-color: #ccb;
}

#displaytag table.mars tr.odd {
	background-color: #eec;
}

#displaytag table.simple thead tr th {
	background-color: #eee;
}

#displaytag table.simple tr.even {
	background-color: #fff;
}

#displaytag table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#displaytag table.simple td,table.simple th {
	border: 1px solid #ccc;
}

#displaytag table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

#displaytag table.report td,table.report th {
	font: menu;
}

#displaytag table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

#displaytag table.report idcol {
	background: buttonface;
}

#displaytag table.report tr.even {
	background-color: #399;
}

#displaytag table.report tbody {
	height: 100px;
	overflow: auto;
}

#displaytag table.report {
	height: 120px;
	overflow: auto;
}

#displaytag table.report tbody tr {
	height: 10px;
}

#displaytag table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

#displaytag table.simple td.textRed {
	color: #b11;
}