#displaytag {  
  margin-left: 0px ; 
}

#displaytag table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;	
}

#displaytag th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

#displaytag thead tr {
	background-color: #fc0;
}

#displaytag th.sorted {
	background-color: #A9A99B;
}

#displaytag th a,th a:visited {
	color: black;
}

#displaytag th a:hover {
	text-decoration: underline;
	color: black;
}

#displaytag th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

#displaytag th.sortable a {
	background-image: url(../images/arrow_off.png);
	background-repeat:no-repeat;
}

#displaytag th.order1 a {
	background-image: url(../images/arrow_down.png);
	background-repeat:no-repeat;
}

#displaytag th.order2 a {
	background-image: url(../images/arrow_up.png);
	background-repeat:no-repeat;
}

#displaytag tr.odd {
	background-color: #fff
}

#displaytag tr.tableRowEven,tr.even {
	background-color: #fea
}

#displaytag div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

#displaytag span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

#displaytag span.excel {
	background-image: url(../images/ico_file_excel.png);
	background-repeat:no-repeat;
}

#displaytag span.csv {
	background-image: url(../images/ico_file_csv.png);
	background-repeat:no-repeat;
}

#displaytag span.xml {
	background-image: url(../images/ico_file_xml.png);
	background-repeat:no-repeat;
}

#displaytag span.pdf {
	background-image: url(../images/ico_file_pdf.png);
	background-repeat:no-repeat;
}

#displaytag span.rtf {
	background-image: url(../images/ico_file_rtf.png);
	background-repeat:no-repeat;
}

#displaytag span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

#displaytag span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}


#displaytag .group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
#displaytag .group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
#displaytag .subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
#displaytag .subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
#displaytag .subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
#displaytag .grouped-table tr.even {
    background-color: #fff;
}
#displaytag .grouped-table tr.odd {
    background-color: #fff;
}
#displaytag .grandtotal-row {
    border-top: 2px solid black;
}
