body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

#container
{
	padding: 5px;
	margin: 0 auto;
	width: 1000px;
	background: #fff;
}

#container li
{	
	padding: 5px;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 
{ 
	margin: 0; 
	letter-spacing: 2px;	
}

#navigation
{
	float: left;
	width: 1000px;
	background: #333;
	font-weight: bold;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 1000px;
	background: #fff url(/wp-content/uploads/layout-two-fixed-background.gif) repeat-y 100% 0;
}

#content
{
	clear: left;
	float: left;
	width: 950px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 300px;
	padding: 20px 0;
	margin: 0 10px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
	font-size:12px;
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	/*margin: 10px 0px;*/
	margin: 10px auto;
	width: 800px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size:13px;
}

.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('../images/validation.png');
}